#MainCard {
    display: flex;
    width: 20%;
    font-size: 0.9em;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;
    background-color: #E3DFFF;
    align-items: center;
    border-radius: 2%;
    margin: 2%;
}

#MainCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

#MainImage {
    object-fit: contain;
    width: 100%;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}

#MainBotton {
    background-color: #FE5F55;
    border: none;
    border-radius: 3px;
    width: 90%;
    height: 20%;
}