@import url(Cards.css);
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to bottom, #5EFC8D, #6F73D2);
    background-repeat: no-repeat;
    height: 100%;
    background-attachment: fixed;
    font-family: 'Pangolin', cursive;
    color: #3D3A4B;
    /*  display: grid;
    grid-template-areas: "hd hd hd hd hd hd hd nav nav" "m m m m m sd sd sd sd" "ft ft ft ft ft ft ft ft ft";
*/
}

header {
    background-color: #3D3A4B;
    font-family: "Pacifico", cursive;
    color: #E3DFFF;
    display: grid;
    grid-template-columns: 70% auto auto;
}

h1 {
    grid-column-start: 1;
    grid-column-end: 2;
}

nav {
    font-size: 1.5em;
}

#link1 {
    margin-left: 10em;
    margin-right: 1.5em;
    grid-column-start: 2;
    grid-column-end: 3;
}

#link2 {
    grid-column-start: 3;
    grid-column-end: 4;
}

header a:visited {
    color: #E3DFFF;
    text-decoration: none;
}

header a:hover {
    color: #937666;
}

a {
    color: #E3DFFF;
    text-decoration: none;
}

#side {
    height: 40%;
    width: 30%;
}

footer {
    color: #E3DFFF;
    background-color: #2A2B2E;
    font-family: "Pacifico", cursive;
}

#container {
    /* background-image: linear-gradient(to bottom, #5EFC8D, #6F73D2); */
    display: grid;
    grid-template-rows: 10% auto 5%;
}